.body {
    background: $body-background;
    max-width: 100%;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.title{
  font-family: $h-style;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  
  font-weight: 400;
  color: $h-color;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    background: #fec0a1;
    border-radius: 8px;
}

.button-link{
    color: $button-text;
    font-size: 18px;
    padding: 10px 20px;
}