.body {
    background: $body-background;
    max-width: 100%;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.title{
  font-family: $h-style;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
  
  font-weight: 400;
  font-size: 18px;
}

.section{
  padding: 20px 0;
}