$body-background: #fff2ec;
$h-style: 'Oswald', sans-serif;
$logo-style: 'MuseoModerno', sans-serif;
$logo-color: #e3a48a;
$text-color: #5a4035;
$h-color: #2a1912;
$button-text: #100d0c;
// 
$mobile: 450px;
$tablet: 768px;
$desktop: 1200px;