$body-background: #fff;
$h-style: 'Oswald', sans-serif;
$logo-style: 'MuseoModerno', sans-serif;
$logo-color: #24b1b8;
$text-color: #302828;
// 
$mobile: 450px;
$tablet: 768px;
$desktop: 1200px;