$body-background: #fff2ec;
$h-style: 'Oswald', sans-serif;
$logo-style: 'MuseoModerno', sans-serif;
$logo-color: #ba9b20;
$text-color: #393838;
$h-color: #5a4035;
$button-text: #5a4035;
// 
$mobile: 450px;
$tablet: 768px;
$desktop: 1200px;