@import './reset';
@import './styles';
@import './general';
@import './header/header';
@import './hero/hero';
@import './cleaning/cleaning';
@import './whyMe/whyme';
@import './footer/footer';
@import './gallery/gallery';