.logo {
    font-family: $logo-style;
    color: $logo-color;
    font-weight: 600;
    font-size: 30px;
}

.header {
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #67d5d7, #ffffff);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts__list{
    display: flex;
    gap: 5px;
}

.contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contacts__icon {
    display: block;
    fill: $logo-color;
    width: 24px;
    height: 24px;
}