.footer {
    background: linear-gradient(to top, #67d5d7, #ffffff);;
    padding: 40px 0;
}

.footer__list{
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.footer__logo{
    font-family: $logo-style;
    font-size: 24px;
    font-weight: 600;
    color: $logo-color;
}

.footer__box{
    margin-top: 20px;
}

.footer__contacts{
    font-family: $h-style;
    font-size: 16px;
    color: #000;
}