.hero {
    max-width: 100%;
    margin-bottom: 15px;
}
.hero-img {
    max-width: 100%;
    margin-bottom: 20px;
    border-bottom: 4px solid #000;
}

.hero-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-style: $h-style;
    font-size: 40px;
}

.hero__info {
    font-size: 18px;
}

.hero__button {
    margin-top: 20px;
    padding: 10px 20px;
    background: rgba(103, 213, 215, 0.6);
    border-radius: 5px;
}

.hero-button-link{
    color: $text-color;
    font-size: 14px;
}