.hero {
    max-width: 100%;
    margin-bottom: 15px;
}

.hero-picture {
    width: 100%;
    max-height: 420px;
}
.hero__img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.hero-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-style: $h-style;
    color: $h-color;
    font-size: 40px;
    margin-bottom: 20px;
}

.hero__info {
    font-size: 18px;
}
